/*
Reminders: More specific beats general, and for react-leaflet you pretty much have to be extra specific everywhere.
Examples can be seen when needing to use .circular-map .leaflet-tooltip-top instead of just generic .leaflet-tooltip-top
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.html,body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.circular-map {
    width: 85vmin;
    height: 85vmin;
    border: 0.3vw solid goldenrod;
    border-radius: 50%;
    margin: auto;
    cursor: url('C:\\Users\\tjm55\\Desktop\\Coding Projects\\Github Repos\\sage-adsb-display-site\\sage-radar\\public\\mouseat.png') 16 16, auto;
}

.circular-map .aircraft-label {
  color: greenyellow;
  background: transparent;
  border: 0px solid transparent;
}

.circular-map .airport-label {
  color: greenyellow;
  background: transparent;
  border: 0px solid transparent;
}

.circular-map .leaflet-tooltip-top:before,
.circular-map .leaflet-tooltip-bottom:before,
.circular-map .leaflet-tooltip-left:before,
.circular-map .leaflet-tooltip-right:before {
    border: 0px;
    background: transparent;
}

.selected-aircraft-info {
  font-family: "IBM Plex Sans";
  font-size: 0.9vw;
  color: greenyellow;
  background-color: black;
  border: 0.3vw solid goldenrod;
  width: 15em;
  padding-left: 2%
}